@media screen and (max-width: 600px) {
  header {
    width: 335px;
  }

  nav {
    display: none;
  }
  .hambarg {
    visibility: unset;
  }
  .logo {
    gap: 5px;
  }
  .logo img {
    width: 28px;
    height: 33px;
  }
  .logo h1 {
    font-size: 21px;
    font-weight: 800;
  }
  .logo span {
    color: #ff5400;
    font-size: 21px;
    font-weight: 800;
  }
  /* banner */
  .banner-section {
    width: 335px;
    height: 583px;
    border-radius: 8px;
  }
  .bac-img {
    width: 335px;
    height: 583px;
    object-fit: cover;
  }
  .background {
    width: 335px;
    height: 583px;
  }
  .banner-title {
    color: #fff;
    font-size: 22px;
    font-weight: 800;
  }
  .text-description {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
  .banner-text p {
    width: 300px;
    margin-top: 14px;
    margin-bottom: 30px;
  }
  .banner-field {
    display: flex;
    width: 287px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    height: 288px;
  }
  .banner-field input {
    width: 255px;
    height: 52px;
  }
  .banner-field button {
    width: 255px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #ff5400;
  }
  /* popular */
  .popular-tour {
    flex-direction: column;
    width: 335px;
  }
  .pt-title {
    font-size: 20px;
    text-align: left;
  }

  .pt-image img {
    width: 335px;
  }
  /* Destination */
  .destination {
    width: 335px;
  }
  .destination-image {
    flex-direction: column;
  }
  .destination-image img {
    width: 335px;
    height: 175px;
  }
  /* Sustainable */
  .sustainable {
    width: 335px;
  }
  .sustainable .description {
    width: 300px;
  }
  .cox-bazar {
    flex-direction: column;
    height: 500px;
    padding-top: 20px;
  }
  .cox-bazar img {
    width: 100%;
  }
  .taj-mahal img {
    width: 100%;
    height: 35%;
  }
  .card-text p {
    padding: 0px;
    text-align: left;
  }
  .cox-bazar div {
    width: 100%;
    padding: 20px;
  }
  .taj-mahal div {
    width: 100%;
    padding: 20px;
  }

  .card-title {
    margin: 20px 0 0 0;
  }
  .taj-mahal h3 {
    padding: 0px;
    margin: 70px 0 0 0;
  }
  .taj-mahal {
    flex-direction: column;
    height: 500px;
    padding-left: 0px;
    margin-top: 70px;
  }
  /* Why Chose us */
  .choose-us {
    width: 335px;
  }
  .chooseus-text p {
    width: 300px;
  }
  .choose-cards {
    flex-direction: column;
    width: 335px;
  }
  .choose-cards div {
    width: 335px;
  }
  .choose-card3 {
    width: 335px;
  }
  /* Discount */
  .discount {
    width: 335px;
    margin: 50px auto;
    text-align: center;
  }
  .discount p {
    width: 335px;
    margin: 24px auto 50px;
  }
  .box-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .box-container img {
    width: 335px;
  }
  .discount button {
    margin-top: 30px;
  }
  .box-container .desktop {
    display: none;
  }
  .box-container .mobile {
    display: block;
  }
  .box-container .mobile img {
    width: 335px;
    height: 500px;
  }
  /* Perfect place */
  .perfect-place {
    width: 335px;
    flex-direction: column;
  }

  /* Newsletter */
  .newsletter {
    flex-direction: column;
    width: 335px;
  }
  .news-card {
    width: 335px;
    padding: 20px;
  }
  .news-card input {
    width: 288px;
    height: 52px;
  }
  .news-card button {
    width: 288px;
    height: 52px;
  }
  .news-image img {
    width: 335px;
  }
  .travel-card {
    width: 214.023px;
    height: 79.268px;
  }
  .travel-card h4 {
    color: #fff;
    text-align: center;
    font-size: 15.854px;
    font-weight: 400;
  }
  .travel-card h3 {
    color: #fff;
    font-size: 21.138px;
    font-weight: 800;
  }
  /* Footer */

  footer p {
    width: 300px;
  }
  footer hr {
    width: 335px;
  }
}
